//Created by Bli on 14-3-6.
div.user-input
	div.input-control.radio
		label
			input(type="radio", name="c1", checked)
			span.check
			t 与指定日期比较

	div#comparison-dialog-calendar.calendar

	div.form-actions
		button.button(type="button", ng-click="Cancel()") 取消
		button.button.primary(ng-click="Compare()") 进行比较