//Created by Bli on 2014/4/4.

form.grid.doodle-form-sheet
	fieldset.row
		div.span5
			label 姓名
			div.input-control.text(data-role="input-control")
				input(type="text", placeholder="输入姓名")
				button.btn-clear


